In [3]:
%matplotlib inline
from tqdm import tqdm
import numpy as np
import pymc3 as pm
from theano import shared
import theano.tensor as tt
import theano
import pandas as pd
from pymc3.distributions.dist_math import binomln, betaln, bound
np.set_printoptions(suppress=True)

In [4]:
df = pd.read_csv("mturk_surveys.csv")
df["hit_answered_date"]=pd.to_datetime(df["hit_answered_date"])
df['date'] = pd.to_datetime(df['hit_answered_date'].apply(lambda x : x.date()))

# Create a list of all unique worker IDs 
workers = pd.DataFrame(list(set(df.worker_id)), columns=['worker_id']).reset_index().set_index('worker_id')

In [7]:
# Calculate the time period of each survey answer. 
# Below we take out time period to be 30-day periods. 
# We can change this to be weeks, months, or anything else
window_length = 30
minDate = min(df['date'])
df['period'] = (df['date'] - minDate).dt.days // window_length

In [8]:
df

,Unnamed: 0,gender,hit_answered_date,hit_creation_date,household_income,household_size,location_city,location_country,location_region,marital_status,post_to_completion_secs,worker_id,year_of_birth,date,period
0,0,male,2018-02-08 19:19:56.215,2018-02-08 18:13:16.000,"$75,000-$99,999",2,columbia,US,sc,married,4000.0,cd50724d102fc745c4b0fda263072e39,1964,2018-02-08,35
1,1,male,2018-02-08 19:14:13.308,2018-02-08 19:13:13.000,"Less than $10,000",1,flagstaff,US,az,single,60.0,0dc9dd7aeb958d2af3ba186f2764ad37,1991,2018-02-08,35
2,2,female,2018-02-08 19:00:46.391,2018-02-08 18:58:15.000,"$40,000-$59,999",2,portland,US,tn,single,151.0,2bb8a9251afe89e0cc320d242d043ee0,1984,2018-02-08,35
3,3,male,2018-02-08 18:54:31.768,2018-02-08 17:13:12.000,"$75,000-$99,999",5+,levittown,US,pa,single,6079.0,e462061542157c850a3c2c9c28815174,1987,2018-02-08,35
4,4,male,2018-02-08 18:45:51.804,2018-02-08 18:43:21.000,"$100,000 or more",3,brighton,US,mi,engaged,150.0,a26233f975b341e37934d5d746835277,1988,2018-02-08,35
5,5,male,2018-02-08 18:30:43.987,2018-02-08 18:28:18.000,"$40,000-$59,999",2,state college,US,pa,cohabitating,145.0,8ba9ed995702e837096f18b0cc92668b,1968,2018-02-08,35
6,6,female,2018-02-08 17:59:39.302,2018-02-08 17:43:23.000,"$15,000-$24,999",2,philipsburg,US,pa,divorced,976.0,d05255f6adf41b12016c7e7055563fa7,1971,2018-02-08,35
7,7,male,2018-02-08 17:59:30.498,2018-02-08 17:58:28.000,"$60,000-$74,999",3,memphis,US,tn,married,62.0,4ea9284788fff176178ab543796d02a5,1974,2018-02-08,35
8,8,female,2018-02-08 17:38:32.908,2018-02-08 16:58:10.000,"$75,000-$99,999",5+,high point,US,nc,married,2422.0,dc4d691cea821951b1608766f8d90b2f,1984,2018-02-08,35
9,9,female,2018-02-08 17:38:25.625,NaN,"$75,000-$99,999",5+,high point,US,nc,married,NaN,dc4d691cea821951b1608766f8d90b2f,1984,2018-02-08,35
10,10,female,2018-02-08 17:38:24.728,NaN,"$75,000-$99,999",5+,high point,US,nc,married,NaN,dc4d691cea821951b1608766f8d90b2f,1984,2018-02-08,35
11,11,male,2018-02-08 17:32:33.605,2018-02-08 17:28:11.000,"$15,000-$24,999",1,new york,US,ny,single,262.0,8572d557808a3188d80c9bc63d9b8ab8,1988,2018-02-08,35
12,12,male,2018-02-08 16:46:25.103,2018-02-08 16:43:11.000,"$25,000-$39,999",3,lawton,US,ok,married,194.0,a797041d64ea62bf574bd1f07b7755af,1960,2018-02-08,35
13,13,male,2018-02-08 16:30:28.070,2018-02-08 16:28:09.000,"$60,000-$74,999",4,mount pleasant,US,mi,married,139.0,befccf8eb681309ea673ad36a47b25c8,1981,2018-02-08,35
14,14,male,2018-02-08 16:17:38.300,2018-02-08 15:43:13.000,"$40,000-$59,999",4,chennai,IN,tn,single,2065.0,47cb3751d177f445e66dd997194b29aa,1993,2018-02-08,35
15,15,female,2018-02-08 16:16:59.803,2018-02-08 16:13:11.000,"$25,000-$39,999",2,columbus,US,in,divorced,228.0,047491e3a4b867182f90f202dde9de31,1975,2018-02-08,35
16,16,female,2018-02-08 16:00:18.905,2018-02-08 15:58:12.000,"$40,000-$59,999",3,la victoria,PE,lim,married,126.0,1c2d860b8a4414bdda94b4b32afe477e,1974,2018-02-08,35
17,17,male,2018-02-08 15:31:04.701,2018-02-08 15:28:12.000,"$40,000-$59,999",2,phoenix,US,az,cohabitating,172.0,0fe3357abe93c1c763473a742922c356,1996,2018-02-08,35
18,18,male,2018-02-08 15:30:12.873,2018-02-08 14:28:11.000,"$100,000 or more",4,washington,US,dc,married,3721.0,80481c8af87d4625f627d48f3a5077b3,1975,2018-02-08,35
19,19,male,2018-02-08 15:20:14.660,2018-02-08 15:13:12.000,"$40,000-$59,999",4,pittsburgh,US,pa,married,422.0,ade2caa0fe1fd731f0eec510b4dd4d5d,1974,2018-02-08,35
20,20,female,2018-02-08 15:09:24.605,2018-02-08 14:13:16.000,"$60,000-$74,999",2,port orange,US,fl,cohabitating,3368.0,2bcb526de33acee695b6b2dab3a67895,1991,2018-02-08,35
21,21,male,2018-02-08 14:59:24.000,2018-02-08 14:58:11.000,"$15,000-$24,999",1,atlanta,US,ga,single,73.0,10abcb91847bcc90907aa8b4ae8237e6,1988,2018-02-08,35
22,22,female,2018-02-08 14:45:36.963,2018-02-08 13:43:14.000,"$75,000-$99,999",5+,summerville,US,sc,married,3742.0,bd11bde547aecd9d5f934106506d5505,1983,2018-02-08,35
23,23,male,2018-02-08 14:45:20.830,2018-02-08 14:43:13.000,"$25,000-$39,999",1,angola,US,in,single,127.0,60b6beeb2ec645b5af5d0fe4fa617a29,1993,2018-02-08,35
24,24,male,2018-02-08 13:59:57.345,2018-02-08 13:58:14.000,"$25,000-$39,999",1,beaufort,US,nc,single,103.0,e1c6ec6a204195bf97d190aed082f43c,1964,2018-02-08,35
25,25,male,2018-02-08 13:30:52.870,2018-02-08 13:28:11.000,"$40,000-$59,999",5+,woodstock,US,ga,married,161.0,29ac7df4a5366afd209e6243457b64c2,1980,2018-02-08,35
26,26,female,2018-02-08 13:14:15.605,2018-02-08 12:43:13.000,"$10,000-$14,999",4,?,IN,?,married,1862.0,8f672b0b3ffa8a492db5f1017f5481b8,1985,2018-02-08,35
27,27,female,2018-02-08 13:14:14.146,2018-02-08 13:13:11.000,"$60,000-$74,999",4,cincinnati,US,oh,married,63.0,4f51cf5e6af6b4b4799c4315553ba361,1987,2018-02-08,35
28,28,male,2018-02-08 13:02:22.483,2018-02-08 12:58:12.000,"$75,000-$99,999",2,None,ZZ,None,married,250.0,e7c464e65b8c9f4d83362aaa41acff0e,1985,2018-02-08,35
29,29,male,2018-02-08 12:49:23.447,2018-02-08 11:28:15.000,"$100,000 or more",2,milwaukee,US,wi,single,4868.0,8dd48ecae2cf1bdf7f32657997b8a6fd,1989,2018-02-08,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103328,103328,female,2015-03-26 18:57:05.187,2015-03-26 18:52:44.000,"$40,000-$59,999",2,staunton,US,il,married,261.0,5515f3ae7aca79fa78740624fdcbfc5f,1966,2015-03-26,0
103329,103329,male,2015-03-26 18:38:43.408,2015-03-26 18:37:36.000,"Less than $10,000",5+,plymouth,US,ma,married,67.0,a9086e90fb610a181f8a0048c782a769,1964,2015-03-26,0
103330,103330,female,2015-03-26 18:23:12.754,2015-03-26 18:22:27.000,"$40,000-$59,999",2,pottsville,US,pa,married,45.0,b1afc7d45433406bb047197319fcbd19,1983,2015-03-26,0
103331,103331,male,2015-03-26 18:08:10.110,2015-03-26 18:07:19.000,"Less than $10,000",3,?,EG,?,single,51.0,ba04e36d1d3fb682b2160030b3755068,1997,2015-03-26,0
103332,103332,female,2015-03-26 17:53:06.760,2015-03-26 17:52:11.000,"$75,000-$99,999",3,chicago,US,il,married,55.0,c5fa55b75f7ad3c40afe85e1faae36f3,1968,2015-03-26,0
103333,103333,female,2015-03-26 17:37:35.951,2015-03-26 17:37:02.000,"$40,000-$59,999",2,new albany,US,in,married,33.0,9cfbdae33d5f7d75003943e7d5de6ba3,1966,2015-03-26,0
103334,103334,male,2015-03-26 17:25:57.411,2015-03-26 17:21:54.000,"Less than $10,000",3,new delhi,IN,dl,married,243.0,af269cc785f85e09fd136701ba8be15f,1982,2015-03-26,0
103335,103335,female,2015-03-26 17:07:44.355,2015-03-26 17:06:45.000,"$25,000-$39,999",2,cary,US,nc,cohabitating,59.0,97c37e375fc4e468baa6bfb74e5c2a9f,1985,2015-03-26,0
103336,103336,female,2015-03-26 16:59:53.693,2015-03-26 16:51:37.000,"$25,000-$39,999",2,little rock,US,ar,engaged,496.0,ed379bf666b344879db7ed9901da9a76,1990,2015-03-26,0
103337,103337,male,2015-03-26 16:39:19.636,2015-03-26 16:36:28.000,"Less than $10,000",4,bangalore,IN,ka,single,171.0,26a11244a67681893cb388382591724a,1989,2015-03-26,0
103338,103338,female,2015-03-26 16:22:53.931,2015-03-26 16:21:22.000,"$15,000-$24,999",3,jamestown,US,ny,married,91.0,7a6365c07c9190337f4344d8e955d7e7,1987,2015-03-26,0
103339,103339,female,2015-03-26 16:07:55.606,2015-03-26 16:06:16.000,"$40,000-$59,999",4,indore,IN,mp,married,99.0,47c8a57b67cbb00aa6dba21024aeb9cb,1982,2015-03-26,0
103340,103340,male,2015-03-26 15:51:33.492,2015-03-26 15:51:08.000,"$75,000-$99,999",4,grand forks,US,nd,single,25.0,abec514a8f8a97f0d9d297c5f0a8cbc5,1992,2015-03-26,0
103341,103341,female,2015-03-26 15:37:16.242,2015-03-26 15:35:59.000,"$60,000-$74,999",3,las vegas,US,nv,married,77.0,12a0248fcf2bae6a4d1e0c53a9b2a17c,1977,2015-03-26,0
103342,103342,female,2015-03-26 15:27:18.526,2015-03-26 15:20:51.000,"$25,000-$39,999",3,?,IN,?,married,387.0,fbb4f1ecbc33ffe0f8e53a5cd7fc6066,1985,2015-03-26,0
103343,103343,male,2015-03-26 15:06:44.851,2015-03-26 15:05:43.000,"$25,000-$39,999",3,los angeles,US,ca,single,61.0,cf8d372f96c49af7ade08a751f176b91,1991,2015-03-26,0
103344,103344,male,2015-03-26 14:53:03.882,2015-03-26 14:50:35.000,"$25,000-$39,999",1,new york,US,ny,single,148.0,a379c19cddf20720dee63473296e9247,1977,2015-03-26,0
103345,103345,male,2015-03-26 14:42:47.384,2015-03-26 14:35:27.000,"$60,000-$74,999",2,atlanta,US,ga,cohabitating,440.0,12718917abcc85ad826b69dc74f77a41,1987,2015-03-26,0
103346,103346,male,2015-03-26 14:21:06.661,2015-03-26 14:20:16.000,"Less than $10,000",1,tyler,US,tx,single,50.0,8594db13c908a3e85b91e424fc2f2566,1995,2015-03-26,0
103347,103347,male,2015-03-26 14:06:41.118,2015-03-26 14:05:10.000,"$40,000-$59,999",3,toronto,CA,on,married,91.0,06d60cbe31e79da89607588933d6aaf0,1987,2015-03-26,0
103348,103348,male,2015-03-26 13:50:54.632,2015-03-26 13:50:01.000,"$60,000-$74,999",4,haverhill,US,ma,cohabitating,53.0,fcf6b4513fd6efaad4a61ccdb0347d02,1986,2015-03-26,0
103349,103349,male,2015-03-26 13:37:13.706,2015-03-26 13:34:53.000,"$25,000-$39,999",1,maryland heights,US,mo,single,140.0,67881bfba0644d47e1c75a52e6a7ef60,1980,2015-03-26,0
103350,103350,female,2015-03-26 13:23:13.392,2015-03-26 13:19:44.000,"$40,000-$59,999",2,greenwich,US,ct,married,209.0,5d1f41b9d1105ce2815c9cfda985defe,1988,2015-03-26,0
103351,103351,female,2015-03-26 13:05:23.184,2015-03-26 13:04:36.000,"$40,000-$59,999",2,scottsville,US,ky,single,47.0,2bb8a9251afe89e0cc320d242d043ee0,1984,2015-03-26,0
103352,103352,female,2015-03-26 12:51:18.571,2015-03-26 12:49:27.000,"Less than $10,000",5+,chennai,IN,tn,married,111.0,0cf55fd9b1c03f543979008312b07e6b,1990,2015-03-26,0
103353,103353,male,2015-03-26 12:35:10.796,2015-03-26 12:34:19.000,"$25,000-$39,999",1,port richey,US,fl,single,51.0,5b044cf509da1d8444b6f60c465240ef,1964,2015-03-26,0
103354,103354,female,2015-03-26 12:20:09.611,2015-03-26 12:19:10.000,"Less than $10,000",3,chandigarh,IN,ch,single,59.0,2f8a2cd8573908a6b5898f13f9b734a6,1990,2015-03-26,0
103355,103355,male,2015-03-26 12:05:22.182,2015-03-26 12:04:01.000,"$75,000-$99,999",4,trumbull,US,ct,single,81.0,99ddbb8d2492a375929ec043718dabaa,1980,2015-03-26,0
103356,103356,female,2015-03-26 11:50:08.004,2015-03-26 11:48:52.000,"$75,000-$99,999",2,san antonio,US,tx,single,76.0,6274f9e49910440fc1d73c191901067f,1963,2015-03-26,0
103357,103357,female,2015-03-26 11:47:28.877,2015-03-26 11:33:43.000,"$40,000-$59,999",1,san diego,US,ca,divorced,825.0,e1ebb7807cd532a5de590aa8093590a7,1962,2015-03-26,0

In [9]:
data = df.pivot_table(
    index = 'worker_id',
    values = 'period',                    
    aggfunc=('count','min','max')
)

In [25]:
data[data['count'] > (data['max']-data['min'] + 1)]

                                  count  max  min
worker_id
000314db2adbfc1680937b7a9a7b0564      7   17   17
00973b532a389cae01e4821b74e5966b      2   10   10
0189e5358390fe1a746c581fd0bac904      3   23   23
01ded1b837424aa6400085f5e34205ef      2    6    6
01fe1039c33407583bb75ecdd9b2cfd9      3   25   24
0282473e990c8b97d93b932ba920025c      2   10   10
02908ecb265c8c77b2d3c5724d222acb      2   20   20
02e3c42db87d78664987b9967ca4d923      2   11   11
03711f3dd781f444764139ee93824c0d      2    7    7
0499f064272db6563a606cb3ddd6abc6      4    2    2
056df52e3500f2e0c9b382534fca7b26      2    2    2
05aabba1001018136dade4bb0f7bf293      2   20   20
05ac8ad542f4a63ee400b86e0db03f95      2    3    3
060d75d5aa8a90dabf0663bfb1e195e0      2   28   28
065a4a5a168f77cbf69ed156486b947a      2    6    6
06943d2d6e568c3a11ca874de9622b6a      2    9    9
09d882a596fed63d411a7b269233295b      2   23   23
0a89450b47507e8e4076732101de4141      4   33   33
0af8eb8d14bb04ea18b3bd26c448c1e3      2    5    5
0b2960585da7858464319a4eddf31fa4      2   18   18
0b9d898f66fb139641d9769cacf6d39e      6    8    8
0bb0dc76e5c9f1fea2794825b1f87607      3   34   33
0bf48a724fbb6ef9658b66209c0e1040      5   26   26
0bf71fc92acbfe4d0d2adaf588df4916      2   34   34
0d3baf23e4dc33a6d464edb8c21110f4      3   32   31
0d4efdc4aa49bc131503f42e35c3083b      2   31   31
0d5ded3ed3979515f40ba5a7f1b2a5ad      2   12   12
0d7162337689b84a2f8072da0155e0ae      5   30   30
0daaa8d8cae286aa9a6771dcf9f0cf2c      2    3    3
0e13a8f6d459814faa72e61b65bb8d62     24   30    8
...                                 ...  ...  ...
f64c5cae35b2a698384877a96b7baccd      2   22   22
f6a42d26673a89ae55f389263e67245b      2    4    4
f6ba5378c99da3bf210df8d186b6e206      2   20   20
f6ece3ba57706e2268f987e5080c0f38      3   21   21
f6f8e7bc06ab07f5a4e1d2503abe1bc6      2   29   29
f70adb1b99348a69b843633640a724c8      3   18   18
f7c1c93a31e4b1276b80a455b42d9c3a      2   10   10
f7d83eb48b651de654659b81fa7b2c1a      2   21   21
f85392b9fd9cbd612b6574b06c532159      4   31   29
f862402a0809df1ee037df50ebf4fabe      2   18   18
f879af4300811f0d0f8a5da2d5658bf5      8   34   33
f955d1f8d3ee53c41707d64b349663b5      2    4    4
f97d5b1980053c1bc5416dac55c8812b      2   17   17
f9b002f289207f00a2a8139258ecf71e      3   32   31
fae8b18b5eb9a0281fbd5000753c4142      2   25   25
fb16f13bf5eb8b09a0eac484763f68ff      2    1    1
fba41b86d7da2edecabf3fb5a979851f     12   16   13
fbcdba6956ca65d37ecd05c25c7f6cf0      4   30   29
fc14a340ce12855dee2ee7405fb32156      2   27   27
fc2dd74b8aa8ba685d60df7175eee94a      2   28   28
fca992c5fc50f58cb1cbaf30c560b7fc      2   18   18
fcb339218d014b42abc0dc8a71771efb      2   21   21
fd22b796765c2d14ae0f141134e9dc49      3   31   31
fd621df5f28a4ef5878cc45b25477be5      9   23   21
fdaa1638b0ec0b272f6e97801994493b      2   16   16
fdab9a5668ad1f21bae6f2155ea589f2      2    8    8
fdf9e89b2d811684066e95ca5c85861a      2   25   25
fe030066dd003f7e6d71d25b53fe9203      2   19   19
fe446469ae65702eaa1fc46e2bf4ebc2      2   20   20
feb6a5048b5bb4b30306a3afa0f862de      5    3    3

[609 rows x 3 columns]

In [26]:
df[df.worker_id == 'feb6a5048b5bb4b30306a3afa0f862de']

,Unnamed: 0,gender,hit_answered_date,hit_creation_date,household_income,household_size,location_city,location_country,location_region,marital_status,post_to_completion_secs,worker_id,year_of_birth,date,period
92741,92741,male,2015-07-16 09:18:56.519,NaN,"Less than $10,000",3,kochi,IN,kl,single,NaN,feb6a5048b5bb4b30306a3afa0f862de,1992,2015-07-16,3
92742,92742,male,2015-07-16 09:18:56.443,NaN,"Less than $10,000",3,kochi,IN,kl,single,NaN,feb6a5048b5bb4b30306a3afa0f862de,1992,2015-07-16,3
92743,92743,male,2015-07-16 09:18:56.383,NaN,"Less than $10,000",3,kochi,IN,kl,single,NaN,feb6a5048b5bb4b30306a3afa0f862de,1992,2015-07-16,3
92744,92744,male,2015-07-16 09:18:56.264,2015-07-16 08:38:11.000,"Less than $10,000",3,kochi,IN,kl,single,2445.0,feb6a5048b5bb4b30306a3afa0f862de,1992,2015-07-16,3
92745,92745,male,2015-07-16 09:18:56.256,NaN,"Less than $10,000",3,kochi,IN,kl,single,NaN,feb6a5048b5bb4b30306a3afa0f862de,1992,2015-07-16,3

In [8]:
df = pd.read_csv("mturk_surveys.csv")
df["hit_answered_date"]=pd.to_datetime(df["hit_answered_date"])
df['date'] = pd.to_datetime(df['hit_answered_date'].apply(lambda x : x.date()))

# Create a list of all unique worker IDs 
workers = pd.DataFrame(list(set(df.worker_id)), columns=['worker_id']).reset_index().set_index('worker_id')
I = len(workers)

CH = np.zeros((I,K))

# Calculate the time period of each survey answer. 
# Below we take out time period to be 30-day periods. 
# We can change this to be weeks, months, or anything else
window_length = 30
minDate = min(df['date'])
df['period'] = (df['date'] - minDate).dt.days // window_length 
K = df['period'].max() + 1

# We give each worker an numerical id
df['idx'] = (df['worker_id']).astype('category').cat.codes

# We generate the full capture history for all workers IxK
seq = df[['idx', 'period']].values
seq = np.r_[seq].T
CH[seq[0], seq[1]] = 1

# We compute the capture history patterns and their frequencies
CH, Nh = np.unique(CH, axis=0, return_counts = True)

array([  31, 1092,  865, ...,    1,    1,    1])

In [39]:
df = pd.read_csv("mturk_surveys.csv")
df["hit_answered_date"]=pd.to_datetime(df["hit_answered_date"])
df['date'] = pd.to_datetime(df['hit_answered_date'].apply(lambda x : x.date()))

# Create a list of all unique worker IDs 
workers = pd.DataFrame(list(set(df.worker_id)), columns=['worker_id']).reset_index().set_index('worker_id')
I = len(workers)

# Calculate the time period of each survey answer. 
# Below we take out time period to be 30-day periods. 
# We can change this to be weeks, months, or anything else
window_length = 30
minDate = min(df['date'])
df['period'] = (df['date'] - minDate).dt.days // window_length 

K = df['period'].max() + 1

data = df.pivot_table(
    index = 'worker_id',
    values = 'period',                    
    aggfunc=('count','min','max')
).join(workers).set_index('index').sort_index()

data.head(10)

       count  max  min
index
0          2   27   20
1          1    5    5
2          1   28   28
3          4   31    9
4          2   24   17
5          1    4    4
6          7   21    4
7          1   18   18
8          1    5    5
9          1   17   17

In [47]:
data = data.groupby(['count','max', 'min']).size().reset_index(name='count_history')
len(data)

4118

In [18]:
np.unique(data.values.shape, axis = 0)

array([    3, 46145])

In [23]:
np.unique(data.values)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 37])

In [49]:
data.values

array([[ 1,  0,  0,  1],
       [ 1,  1,  1,  1],
       [ 1,  2,  2,  1],
       ...,
       [33, 34,  0,  1],
       [34, 34,  0,  1],
       [37, 34,  0,  1]])

In [27]:
test = np.array([[ 2, 27, 20],
       [ 1, 28, 28],
       [ 1, 28, 28]])

In [50]:
CH, nh = np.unique(data.values, axis = 0, return_counts = True)

In [51]:
len(CH)

4118

In [44]:
data

       count  max  min
index
0          2   27   20
1          1    5    5
2          1   28   28
3          4   31    9
4          2   24   17
5          1    4    4
6          7   21    4
7          1   18   18
8          1    5    5
9          1   17   17
10         1    3    3
11         1   15   15
12        20   33   13
13         1   12   12
14         3   13    8
15         1   16   16
16         1   14   14
17         1    8    8
18         3   12    6
19         2   12    7
20         1    4    4
21         1   34   34
22         1   21   21
23         1   12   12
24         1   16   16
25         3   19   19
26         1   33   33
27         1   28   28
28         1   15   15
29         1    9    9
...      ...  ...  ...
46115      3   26    2
46116      5   30   16
46117      2    5    0
46118      1    4    4
46119      2    8    0
46120      1   22   22
46121      2   32   30
46122      1    2    2
46123      4   33   31
46124      1    8    8
46125      1   31   31
46126      7   14    4
46127      2   28   28
46128      1   13   13
46129      1   29   29
46130      1   11   11
46131      1    6    6
46132      1   21   21
46133      2   21   17
46134      1    1    1
46135      1   13   13
46136      4   17   11
46137      1   20   20
46138      1   17   17
46139      1   18   18
46140      1   19   19
46141      1   25   25
46142      5   28   10
46143      1   32   32
46144      1   29   29

[46145 rows x 3 columns]

In [136]:
def get_imask(S, V, data):
    i_mask = np.zeros((V,S,S))
    for wh in np.arange(V):
        f, l = data[wh, 0] , data[wh, 1]
        i_mask[wh, :f+1, l:] = 1
    return i_mask

In [180]:
tdata = np.array([[1,2], [5,12], [3, 13]])

In [138]:
tdata

array([[ 1,  2],
       [ 5, 12],
       [ 3, 13]])

In [139]:
t1 = get_imask(20, 3, tdata)

In [188]:
nz = np.zeros((3,20,20))
[nz[i, :j+1, k] for i,j,k in tdata]

ValueError: not enough values to unpack (expected 3, got 2)

In [193]:
[i for i in tdata]

[array([1, 2]), array([ 5, 12]), array([ 3, 13])]

In [110]:
r

array([[[0., 0., 1., ..., 1., 1., 1.],
        [0., 0., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 1., 1., 1.],
        [0., 0., 0., ..., 1., 1., 1.],
        [0., 0., 0., ..., 1., 1., 1.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 1., 1., 1.],
        [0., 0., 0., ..., 1., 1., 1.],
        [0., 0., 0., ..., 1., 1., 1.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]])

In [142]:
r == t1

array([[[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]],

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]],

       [[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]]])

In [145]:
def get_imask2(S, V, data):
    s_mask = np.zeros([V,S])
    q_mask = np.zeros([V,S])
    for w in np.arange(V):
        f, l = data[w, 0] , data[w, 1]
        s_mask[w] = np.concatenate((np.ones(f+1), np.zeros(S - f -1)))
        q_mask[w] = np.concatenate((np.zeros(l), np.ones(S-l)))
    i_mask = np.einsum("is,iq->isq", s_mask, q_mask)
    return i_mask

In [203]:
def get_vmask(S):
    v_mask = np.zeros([S,S,S])
    for s in np.arange(S):
        for q in np.arange(s,S):
            c1 = np.zeros(s)
            c2 = np.ones(q-s)
            c3 = np.zeros(S-q)
            v_mask[s,q]= np.concatenate((c1, c2, c3))
    return v_mask
ocaz = get_vmask(3)

In [204]:
def get_BetaBi(a,b, S, Ni, Nn):
    # The beta binomial
    BBi  =  bound(betaln(Ni + a, Nn - Ni + b) - betaln(a, b),
                     Ni >= 0, Ni <= Nn,
                     a > 0, b > 0)
    # The above is the computation of the log, so we take the exponent
    return np.exp(BBi)

In [195]:
# For a given outcome in {1,S} (Frequency of capture that's not 0) 
# Generate the Binomial parameters n and i   choose(n, i)
# Nn is the duration from arrival to departure
# Ni is the Frequency we are intersted in
# Dim: SxSxS
def make_binmask(S):
    i = np.arange(S) + 1
    i = i[:, np.newaxis, np.newaxis] *  np.ones((S, S, S))
    n = np.broadcast_to(np.triu(np.ones([S,S]), 0).cumsum(axis =1), (S, S, S))
    return i, n
Ni, Nn = make_binmask(5)

In [206]:
get_BetaBi(1,1, 5, Ni, Nn).eval()

array([[[0.5       , 0.16666667, 0.08333333, 0.05      , 0.03333333],
        [0.        , 0.5       , 0.16666667, 0.08333333, 0.05      ],
        [0.        , 0.        , 0.5       , 0.16666667, 0.08333333],
        [0.        , 0.        , 0.        , 0.5       , 0.16666667],
        [0.        , 0.        , 0.        , 0.        , 0.5       ]],

       [[0.        , 0.33333333, 0.08333333, 0.03333333, 0.01666667],
        [0.        , 0.        , 0.33333333, 0.08333333, 0.03333333],
        [0.        , 0.        , 0.        , 0.33333333, 0.08333333],
        [0.        , 0.        , 0.        , 0.        , 0.33333333],
        [0.        , 0.        , 0.        , 0.        , 0.        ]],

       [[0.        , 0.        , 0.25      , 0.05      , 0.01666667],
        [0.        , 0.        , 0.        , 0.25      , 0.05      ],
        [0.        , 0.        , 0.        , 0.        , 0.25      ],
        [0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ]],

       [[0.        , 0.        , 0.        , 0.2       , 0.03333333],
        [0.        , 0.        , 0.        , 0.        , 0.2       ],
        [0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ]],

       [[0.        , 0.        , 0.        , 0.        , 0.16666667],
        [0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ]]])

In [207]:
Ni

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[2., 2., 2., 2., 2.],
        [2., 2., 2., 2., 2.],
        [2., 2., 2., 2., 2.],
        [2., 2., 2., 2., 2.],
        [2., 2., 2., 2., 2.]],

       [[3., 3., 3., 3., 3.],
        [3., 3., 3., 3., 3.],
        [3., 3., 3., 3., 3.],
        [3., 3., 3., 3., 3.],
        [3., 3., 3., 3., 3.]],

       [[4., 4., 4., 4., 4.],
        [4., 4., 4., 4., 4.],
        [4., 4., 4., 4., 4.],
        [4., 4., 4., 4., 4.],
        [4., 4., 4., 4., 4.]],

       [[5., 5., 5., 5., 5.],
        [5., 5., 5., 5., 5.],
        [5., 5., 5., 5., 5.],
        [5., 5., 5., 5., 5.],
        [5., 5., 5., 5., 5.]]])

In [208]:
def make_survival(S):
    mask = np.zeros([S,S,S])  # arrival, departure, presence_sequence
    for s in np.arange(S):
        for q in np.arange(s,S):
            c1 = np.zeros(s)
            c2 = np.ones(q-s)
            c3 = np.zeros(S-q)
            mask[s,q]= np.concatenate((c1, c2, c3))
    return mask
survival = make_survival(5)

In [209]:
survival

array([[[0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [1., 1., 0., 0., 0.],
        [1., 1., 1., 0., 0.],
        [1., 1., 1., 1., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 1., 1., 0., 0.],
        [0., 1., 1., 1., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 1., 1., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]])

In [213]:
tt.triu(tt.ones((5,5)), 0).eval()

array([[1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 1.]])

In [ ]:
tt