In [1]:
import pandas as pd
import numpy as np

In [7]:
#!curl -L https://www.dropbox.com/s/4hct840aqr9drpl/mturk_surveys.csv?dl=1 -o mturk_surveys.csv


df = pd.read_csv("mturk_surveys.csv")
df["hit_answered_date"]=pd.to_datetime(df["hit_answered_date"])
df['date'] = pd.to_datetime(df['hit_answered_date'].apply(lambda x : x.date()))

# Create a list of all unique worker IDs 
workers = pd.DataFrame(list(set(df.worker_id)), columns=['worker_id']).reset_index().set_index('worker_id')
I = len(workers)

# Calculate the time period of each survey answer. 
# Below we take out time period to be 30-day periods. 
# We can change this to be weeks, months, or anything else
window_length = 30
minDate = min(df['date'])
df['period'] = (df['date'] - minDate).dt.days // window_length 

K = df['period'].max() + 1

data = df.pivot_table(
    index = 'worker_id',
    values = 'period',                    
    aggfunc=('count','min','max')
).join(workers).set_index('index').sort_index()

data.head(10)

                                  count  max  min  index
worker_id
00008f60155d83e5ac29d6942db234e7      4   31   23  27041
0000ceeb6c91d4a1a53fec0de0cc3460      1    1    1   3220
0001513be5c5e503366d994625ba169e      8   33   20  30621
0001760b118b1695f042928dc8d6eb5c      1   16   16   3616
000314db2adbfc1680937b7a9a7b0564      7   17   17   9475
00033655d33b221f842c11a00064cb05      1   11   11  28515
00038273373747793d09160ede6babdd      1   28   28  44703
000890517a0ee2c855083c5d2d41ad4f      1    0    0  41216
000922f9a9cf32952ea7b526fe655f07      3   19   14  33499
000947179e8e8c19d0e2043b5f298eab      1    4    4  28748

In [9]:
data[data['count'] > (data['max']-data['min'] + 1)].count()

count    609
max      609
min      609
index    609
dtype: int64

In [32]:
data = df[['worker_id', 'period']].drop_duplicates().pivot_table(
    index = 'worker_id',
    values = 'period',                    
    aggfunc=('count','min','max')
).join(workers).set_index('index').sort_index()

In [33]:
data

       count  max  min
index
0          1    3    3
1          1   17   17
2         10   24   13
3          7   26    8
4          2   25    6
5          1   16   16
6          1   15   15
7          1    0    0
8          1   15   15
9          1   19   19
10         1   29   29
11         8   31    2
12         1   10   10
13         1    1    1
14         1   33   33
15         1   25   25
16         1   18   18
17         1   21   21
18         3   20    4
19         5   25    9
20         1    1    1
21         1   32   32
22         1   10   10
23         1   24   24
24         1   33   33
25        11   24    1
26        23   33    3
27         1    7    7
28        14   34    0
29         2   11    7
...      ...  ...  ...
46115      1   26   26
46116      3   24   17
46117      1    2    2
46118      1    0    0
46119      1   30   30
46120      2    3    1
46121      1   25   25
46122      1   28   28
46123      1   31   31
46124      3   22    5
46125      1    2    2
46126      1   34   34
46127      1   20   20
46128      1   11   11
46129      1    3    3
46130      1   10   10
46131      1    3    3
46132      1    1    1
46133      1    8    8
46134      1   17   17
46135      2   27   26
46136      1   14   14
46137      1    0    0
46138      1   16   16
46139      8   20    0
46140      1   34   34
46141      1   28   28
46142      2   13    9
46143      1   23   23
46144      1   23   23

[46145 rows x 3 columns]