In [1]:
import pandas as pd
import numpy as np

In [7]:
#!curl -L https://www.dropbox.com/s/4hct840aqr9drpl/mturk_surveys.csv?dl=1 -o mturk_surveys.csv


df = pd.read_csv("mturk_surveys.csv")
df["hit_answered_date"]=pd.to_datetime(df["hit_answered_date"])
df['date'] = pd.to_datetime(df['hit_answered_date'].apply(lambda x : x.date()))

# Create a list of all unique worker IDs 
workers = pd.DataFrame(list(set(df.worker_id)), columns=['worker_id']).reset_index().set_index('worker_id')
I = len(workers)

# Calculate the time period of each survey answer. 
# Below we take out time period to be 30-day periods. 
# We can change this to be weeks, months, or anything else
window_length = 30
minDate = min(df['date'])
df['period'] = (df['date'] - minDate).dt.days // window_length 

K = df['period'].max() + 1

data = df.pivot_table(
    index = 'worker_id',
    values = 'period',                    
    aggfunc=('count','min','max')
).join(workers)#.set_index('index').sort_index()

data.head(10)

                                  count  max  min  index
worker_id
00008f60155d83e5ac29d6942db234e7      4   31   23  27041
0000ceeb6c91d4a1a53fec0de0cc3460      1    1    1   3220
0001513be5c5e503366d994625ba169e      8   33   20  30621
0001760b118b1695f042928dc8d6eb5c      1   16   16   3616
000314db2adbfc1680937b7a9a7b0564      7   17   17   9475
00033655d33b221f842c11a00064cb05      1   11   11  28515
00038273373747793d09160ede6babdd      1   28   28  44703
000890517a0ee2c855083c5d2d41ad4f      1    0    0  41216
000922f9a9cf32952ea7b526fe655f07      3   19   14  33499
000947179e8e8c19d0e2043b5f298eab      1    4    4  28748

In [9]:
data[data['count'] > (data['max']-data['min'] + 1)].count()

count    609
max      609
min      609
index    609
dtype: int64

In [18]:
df.groupby(['worker_id', 'period']).size().sort_values(ascending=False).reset_index(name='count')

                               worker_id  period  count
0       8e4ce5263b2b43ec70f532b6d58522f8      18     25
1       ad3089a4917de29f2ba115d2f31871cc      31     22
2       3569614c4966ce343374e6d38bc57ce4      32     19
3       7227d93f54edef858df51213e2da65f9      12     19
4       2c9f312b53b73d21c3e117b471ecad1d      32     16
5       8d581e715b2ca964b55dc6ec3a02f7bc       2     16
6       52629358bb4b600cd895af4db743e93a       9     15
7       d17c6ddf45e34036fbf534cb275cb734      15     14
8       b7613aa69fd695b7801ac1694d48af23      14     13
9       14da761c9066f3606778af1bce0176a2       7     13
10      1e59e1a76cc133d64cb09c63f4256def       6     13
11      cc15e2c74af011007361cef2b44fd33f       7     12
12      222a01512346cf2bc81df0ec28f7275d      11     11
13      df5fc1c3fb047877ddc88f9750a610e9       5     11
14      0239247f000dbc7db13be48439d94d52      18     11
15      fba41b86d7da2edecabf3fb5a979851f      13     11
16      997b03af7a96ae03dd8cc2ba2aa60eec      26     11
17      c47662d0b3533a1aeacf29943d5a64f8       8      9
18      ee1276118736cd8c4441c7985220779a       0      9
19      01b209a242a4d68306d6655f87bac130      32      9
20      d2533131a761962182d11c2d5cd820f3      10      9
21      4bcda41d001947f6df8765ed73913ef8      29      9
22      cc13430e021627b3dc3fa59250cdc65e      32      9
23      49b98743d808906c11c644751b0576ed       8      9
24      431589c565c5ab4a2308bcd536e3296f      10      9
25      469708b7914742cf857d91d4143f2e31       7      8
26      6df1b75e2ab6bccd6e739e246e8ebe91      27      8
27      8a206beb41d010589d371ee5acb3940c       1      8
28      a30d244141cb2f51e0803e79bc4bd147       9      8
29      11a539a1d241df49b4b2c3f8bc45412a      23      8
...                                  ...     ...    ...
100589  aa7c3d71618ee572ad8592628ebcb00a      25      1
100590  aa7cc513e4d3c7bb6f7b27bb08885dd3      12      1
100591  aa7e535bdb0f87f945e3547abef1a022       4      1
100592  aa7e9257948e49b17fe89951ea410967      25      1
100593  aa802c09d021630d52dd0d5d8baee720       0      1
100594  aa7571893a79ac4adfb7110a24670d56      11      1
100595  aa7571893a79ac4adfb7110a24670d56       2      1
100596  aa647e6433ba22bca4c249585ed35380      17      1
100597  aa647e6433ba22bca4c249585ed35380      32      1
100598  aa647e6433ba22bca4c249585ed35380      18      1
100599  aa647e6433ba22bca4c249585ed35380      19      1
100600  aa647e6433ba22bca4c249585ed35380      21      1
100601  aa647e6433ba22bca4c249585ed35380      23      1
100602  aa647e6433ba22bca4c249585ed35380      24      1
100603  aa647e6433ba22bca4c249585ed35380      25      1
100604  aa647e6433ba22bca4c249585ed35380      27      1
100605  aa647e6433ba22bca4c249585ed35380      29      1
100606  aa647e6433ba22bca4c249585ed35380      30      1
100607  aa658a723e6d751f3085edaf1face996       1      1
100608  aa7571893a79ac4adfb7110a24670d56       1      1
100609  aa65d87bee40bd621cccb7dd0035b877       7      1
100610  aa65d87bee40bd621cccb7dd0035b877       8      1
100611  aa6776f0577e13f7e65bd8d3aa37e620      25      1
100612  aa68b4369a233df36b725443996db9e1       9      1
100613  aa69c3f99a95f32ac1d1d08b69a67a80      12      1
100614  aa6d93a8b63f185a21d65a368144047c       0      1
100615  aa6d93a8b63f185a21d65a368144047c      23      1
100616  aa7398134a0f8ded40d18eb3c757ca0e      28      1
100617  aa7398134a0f8ded40d18eb3c757ca0e      30      1
100618  00008f60155d83e5ac29d6942db234e7      23      1

[100619 rows x 3 columns]