In [1]:
%matplotlib inline
from tqdm import tqdm
import numpy as np
import pandas as pd
import pymc3 as pm
from theano import shared
import theano.tensor as tt
import theano
from pymc3.distributions.dist_math import binomln, betaln, bound
np.set_printoptions(suppress=True)

/Users/ded/anaconda3/lib/python3.6/site-packages/theano/gpuarray/dnn.py:184: UserWarning: Your cuDNN version is more recent than Theano. If you encounter problems, try updating Theano or downgrading cuDNN to a version >= v5 and <= v7.
  warnings.warn("Your cuDNN version is more recent than "
Using cuDNN version 7201 on context None
Mapped name None to device cuda: GeForce GTX 1080 Ti (0000:86:00.0)
/Users/ded/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# Helper function for visualization
import re
def plot_traces(trcs, varnames=None):
    '''Plot traces with overlaid means and values'''

    nrows = len(trcs.varnames)
    if varnames is not None:
        nrows = len(varnames)

    ax = pm.traceplot(trcs, varnames=varnames, figsize=(12,nrows*1.4),
                      lines={k: v['mean'] for k, v in
                             pm.summary(trcs,varnames=varnames).iterrows()})

    for i, mn in enumerate(pm.summary(trcs, varnames=varnames)['mean']):
        ax[i,0].annotate('{:.2f}'.format(mn), xy=(mn,0), xycoords='data',
                         xytext=(5,10), textcoords='offset points', rotation=90,
                         va='bottom', fontsize='large', color='#AA0022')
def strip_derived_rvs(rvs):
    '''Remove PyMC3-generated RVs from a list'''

    ret_rvs = []
    for rv in rvs:
        if not (re.search('_log',rv.name) or re.search('_interval',rv.name)):
            ret_rvs.append(rv)
    return ret_rvs

In [12]:
df = pd.read_csv("mturk_surveys.csv")
df["hit_answered_date"]=pd.to_datetime(df["hit_answered_date"])
df['date'] = pd.to_datetime(df['hit_answered_date'].apply(lambda x : x.date()))

# Create a list of all unique worker IDs 
workers = pd.DataFrame(list(set(df.worker_id)), columns=['worker_id']).reset_index().set_index('worker_id')

# Calculate the time period of each survey answer. 
# Below we take out time period to be 30-day periods. 
# We can change this to be weeks, months, or anything else
window_length = 30
minDate = min(df['date'])
df['period'] = (df['date'] - minDate).dt.days // window_length 

data = df.pivot_table(
    index = 'worker_id',
    values = 'period',                    
    aggfunc=('count','min','max')
).join(workers).set_index('index').sort_index()

In [24]:
data[(data['min'] == 0) & (data['max'] == 0)]

       count  max  min
index
0          1    0    0
31         1    0    0
91         1    0    0
121        1    0    0
199        1    0    0
252        1    0    0
333        1    0    0
340        1    0    0
342        7    0    0
345        1    0    0
422        1    0    0
435        1    0    0
463        1    0    0
506        1    0    0
510        1    0    0
535        1    0    0
550        1    0    0
570        1    0    0
581        1    0    0
600        1    0    0
688        1    0    0
692        1    0    0
804        1    0    0
835        1    0    0
913        1    0    0
942        1    0    0
950        1    0    0
1064       1    0    0
1093       1    0    0
1222       1    0    0
...      ...  ...  ...
44877      1    0    0
44915      1    0    0
44925      1    0    0
44958      1    0    0
44961      1    0    0
45023      1    0    0
45079      1    0    0
45082      1    0    0
45097      1    0    0
45117      1    0    0
45200      1    0    0
45201      1    0    0
45220      1    0    0
45229      1    0    0
45237      1    0    0
45418      1    0    0
45435      1    0    0
45522      1    0    0
45568      1    0    0
45701      1    0    0
45750      1    0    0
45772      1    0    0
45776      1    0    0
45793      1    0    0
45887      1    0    0
45921      1    0    0
45945      1    0    0
46000      1    0    0
46032      1    0    0
46081      1    0    0

[928 rows x 3 columns]

In [10]:
# Aggregate the capture histories
data = data.groupby(['min', 'max', 'count']).size().reset_index(name='count_history')

In [11]:
data.head(1000)

     min  max  count  count_history
0      0    0      1            921
1      0    0      2              3
2      0    0      3              1
3      0    0      6              1
4      0    0      7              1
5      0    0      9              1
6      0    1      2             57
7      0    2      2             51
8      0    2      3             11
9      0    2      4              1
10     0    3      2             42
11     0    3      3             14
12     0    3      4              3
13     0    4      2             26
14     0    4      3             15
15     0    4      4              2
16     0    4      5              2
17     0    4      6              1
18     0    5      2             32
19     0    5      3             25
20     0    5      4             10
21     0    5      5              4
22     0    5      6              1
23     0    6      2             22
24     0    6      3             24
25     0    6      4              9
26     0    6      5              4
27     0    6      6              3
28     0    7      2             18
29     0    7      3              6
..   ...  ...    ...            ...
970    2   32      4              6
971    2   32      5              2
972    2   32      6              4
973    2   32      7              2
974    2   32      8              2
975    2   32      9              2
976    2   32     10              2
977    2   32     11              2
978    2   32     13              1
979    2   32     14              1
980    2   32     15              2
981    2   32     17              5
982    2   32     20              1
983    2   32     23              1
984    2   32     24              1
985    2   33      2              5
986    2   33      3              8
987    2   33      4              3
988    2   33      5              1
989    2   33      6              4
990    2   33      7              3
991    2   33      9              5
992    2   33     10              2
993    2   33     11              4
994    2   33     12              3
995    2   33     13              3
996    2   33     14              3
997    2   33     15              1
998    2   33     16              1
999    2   33     17              3

[1000 rows x 4 columns]

In [ ]:
S = df['period'].max() + 1
V = len(workers)
freqs = data['count_history'].values
H = len(freqs)

print('Sampling periods:', S)
print('Unique patterns:', H)
print('Unique workers:', V)

In [ ]:
# We want to see the survival marks to compute the total survival
# e.g, Arrive: 1, Depart: 2 => 011
# Dims: SxSxS
def make_survival(S):
    mask = np.zeros([S,S,S])  # arrival, departure, presence_sequence
    for s in np.arange(S):
        for q in np.arange(s,S):
            c1 = np.zeros(s)
            c2 = np.ones(q-s)
            c3 = np.zeros(S-q)
            mask[s,q]= np.concatenate((c1, c2, c3))
    return mask
survival = make_survival(S)
survival.shape

In [ ]:
# A more compact way to represent all Arrival and departures from the data
# This is part of the input data, so we preprocess it!
def get_hmask(S, H, data):
    h_mask = np.zeros((H,S,S))
    for wh in np.arange(H):
        f, l = data['min'].values , data['min'].values
        h_mask[wh, :f+1, l:] = 1
    return h_mask
hmask = get_hmask(S, H, data)
hmask.shape

In [ ]:
# For a given outcome in {1,S} (Frequency of capture that's not 0) 
# Generate the Binomial parameters n and i   choose(n, i)
# Nn is the duration from arrival to departure
# Ni is the Frequency we are intersted in
# Dim: SxSxS
def make_binmask(S, data):
    i = data['count'].values
    i = i[:, np.newaxis, np.newaxis] *  np.ones((H, S, S))
    n = np.broadcast_to(np.triu(np.ones([S,S]), 0).cumsum(axis =1), (H, S, S))
    return i, n
Ni, Nn = make_binmask(S, data)
print('Tensor with number of captures', Ni.shape)
print('Tensor with durations from first to last seen', Nn.shape)

In [ ]:
# Helper functions for the Beta Bernoulli Process
# TODO: switch to a single function even for the special case of 0 captures.

def get_BetaBi(a,b, S, Ni, Nn):
    # The beta binomial
    BBi  =  bound(betaln(Ni + a, Nn - Ni + b) - betaln(a, b),
                     Ni >= 0, Ni <= Nn,
                     a > 0, b > 0)
    # The above is the computation of the log, so we take the exponent
    return tt.exp(BBi)

def get_BetaB0(a, b, S):
    # The beta binomial for 0 captures
    Nn = tt.triu(tt.ones([S,S]), 0).cumsum(axis =1).eval()
    #B0 = tt.gammaln(n + b) - tt.gammaln(n + a + b) + tt.gammaln(a + b) - tt.gammaln(b)
    B0 = bound(betaln(a, Nn + b) - betaln(a, b), 
               a > 0, b > 0)
    return tt.exp(B0)

In [ ]:
def logp_capture(arrival_probs, departure_probs, a, b, U, survival_mask, Ni, Nn, S, V):
    def ll_capture_f(Nh, data_first_last_mask):
          
        # Likelihood of observing Li captures
        
        # compute the survival
        survival_prob = tt.pow(1 - departure_probs, survival_mask)
        survival_prob = tt.prod(survival_prob, axis=2)
        # compute the arrival and departure
        LAD      = arrival_probs[:, np.newaxis] * survival_prob * departure_probs    # SxS
        # keep only true possibilites
        True_LAD = LAD * data_first_last_mask # SxSxS
        
        # sum along the freqencies of catpures
        BetaBi  = get_BetaBi(a, b, S, Ni, Nn)
        Li      = tt.batched_tensordot(True_LAD, BetaBi, axes = 2) # S
        
        # Likelihood of No-Capture L0
        
        True_LAD0    = LAD * tt.triu(tt.ones((S,S)), 0)
        BetaB0   = get_BetaB0(a, b, S)
        L0       = tt.sum(True_LAD0 * BetaB0)
        
        # Multinomial
        obj1 = tt.gammaln(V + U + 1) - tt.gammaln(U + 1) - tt.sum(tt.gammaln(Nh+1))
        obj2 = tt.sum(Nh * tt.log(Li))
        obj3 = U * tt.log(L0)
        
        objective = obj1 + obj2 + obj3 
        
        return objective
    
    return ll_capture_f

In [ ]:
# custom log-liklihood
# model
with pm.Model() as model:
    # parameters
    U = pm.Uniform('Unseen', lower=3000, upper=18000)
    a = pm.Uniform('alpha', .01, 1.)
    b = pm.Uniform('beta', 1., 10.)
    
    phi = tt.zeros(S)
    phi_v    = pm.Uniform('departure', 0.1, .3, shape=S-1)
    phi = tt.set_subtensor(phi[S-1], 1.)
    phi = tt.set_subtensor(phi[:S-1],phi_v)
    
    arr    = pm.Dirichlet('arrival', a=np.array([1./S]*S), shape=S)
    #U_print = tt.printing.Print('Unseen')(U)
    #a_print = tt.printing.Print('alpha')(a)
    #b_print = tt.printing.Print('beta')(b)
    # Model Log-likelihood
    ob = pm.DensityDist('x', logp_capture(arr, phi, a, b, U, survival, Ni, Nn, S, V), 
                        observed={'Nh': freqs ,
                                  'data_first_last_mask': hmask})

In [ ]:
with model:
  posterior = pm.sample(1000, chains = 1, cores = 1)

In [ ]:
pm.energyplot(posterior);

In [ ]:
plot_traces(posterior);

In [ ]:
pm.summary(posterior)